<section id="row1">
  <div class="wrap">
    <div class="column">
      <a href="/about-g5#this-is-what-we-do-ns"><h2 class="circle" id="leftcircle"><span>This is</br> What We</br> Do</span></h2></a>
      <%=raw @page.content_for(:circle1) %>
    </div>

    <div class="column">
      <a href="/about-g5#this-is-how-we-do-it-ns"><h3 class="circle" id="middlecircle"><span>This is</br> How We</br> Do It</span></h3></a>
      <%=raw @page.content_for(:circle2) %>
    </div>

    <div class="column right">
      <a href="/about-g5#this-is-who-we-are-ns"><h3 class="circle" id="rightcircle"><span>This is</br> Who We</br> Are</span></h3></a>
      <%=raw @page.content_for(:circle3) %>
    </div>
  </div>
</section>

<section id="row2">
  <div class="wrap">
    <div class="row_left">
      <%=raw @page.content_for(:side_body) %>
    </div>
    <div class="row_right">
      <div id="slides">
        <div class="slides_accent"></div>   
          
          <% if @page.images.present? %>
            <div id="featured"> 
              <% @page.images.each do |image| %>
                <%= image_tag(image.thumbnail("620x350").url) %>
              <% end %>
            </div>
          <% end %>  

      </div>
    </div> 
  </div>
</section>
